body  {
  background-color: #27445C;
}
.logo {
  width: 50px;
  height: 50px;
  padding: 10px;
}


.nav_bar {
  display: flex;
  justify-content: space-between;
  gap: 10;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}


body {
  display: grid;
  grid-template-rows: auto auto auto;
}
.coding_languange {
  display: grid;
  grid-template-columns: auto auto auto;
}
.nav_bar > button {
  color: white;
}

.introduction {
  color: white;
  display: grid;
  grid-template-columns: auto auto;
} 
.nav-bar-buttons {
  display: flex;
}

.nav-button {
  padding: 5px;
  margin: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 10;
  align-items: center;
  box-shadow: 0px -10px 10px rgba(0,0,0,0.1);
}


